In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
books = pd.read_csv('data2/books_data.csv', sep=',', on_bad_lines='skip', encoding="latin-1")

In [8]:
books.head()

,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories,ratingsCount
0,Its Only Art If Its Well Hung!,NaN,['Julie Strain'],http://books.google.com/books/content?id=DykPA...,http://books.google.nl/books?id=DykPAAAACAAJ&d...,NaN,1996,http://books.google.nl/books?id=DykPAAAACAAJ&d...,['Comics & Graphic Novels'],NaN
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,['Philip Nel'],http://books.google.com/books/content?id=IjvHQ...,http://books.google.nl/books?id=IjvHQsCn_pgC&p...,A&C Black,2005-01-01,http://books.google.nl/books?id=IjvHQsCn_pgC&d...,['Biography & Autobiography'],NaN
2,Wonderful Worship in Smaller Churches,This resource includes twelve principles in un...,['David R. Ray'],http://books.google.com/books/content?id=2tsDA...,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,NaN,2000,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,['Religion'],NaN
3,Whispers of the Wicked Saints,Julia Thomas finds her life spinning out of co...,['Veronica Haddon'],http://books.google.com/books/content?id=aRSIg...,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,iUniverse,2005-02,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,['Fiction'],NaN
4,"Nation Dance: Religion, Identity and Cultural ...",NaN,['Edward Long'],NaN,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,2003-03-01,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,NaN

In [9]:
books.shape

(212404, 10)

In [10]:
books.columns

Index(['Title', 'description', 'authors', 'image', 'previewLink', 'publisher',
       'publishedDate', 'infoLink', 'categories', 'ratingsCount'],
      dtype='object')

In [11]:
books.head(2)

,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories,ratingsCount
0,Its Only Art If Its Well Hung!,NaN,['Julie Strain'],http://books.google.com/books/content?id=DykPA...,http://books.google.nl/books?id=DykPAAAACAAJ&d...,NaN,1996,http://books.google.nl/books?id=DykPAAAACAAJ&d...,['Comics & Graphic Novels'],NaN
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,['Philip Nel'],http://books.google.com/books/content?id=IjvHQ...,http://books.google.nl/books?id=IjvHQsCn_pgC&p...,A&C Black,2005-01-01,http://books.google.nl/books?id=IjvHQsCn_pgC&d...,['Biography & Autobiography'],NaN

In [12]:
ratings = pd.read_csv('data2/Books_rating.csv', sep=",", on_bad_lines='skip', encoding='latin-1')

In [13]:
ratings.columns

Index(['Id', 'Title', 'Price', 'User_id', 'profileName', 'review/helpfulness',
       'review/score', 'review/time', 'review/summary', 'review/text'],
      dtype='object')

In [14]:
ratings.head()

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,1882931173,Its Only Art If Its Well Hung!,NaN,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",7/7,4.0,940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,10/10,5.0,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,NaN,A3UH4UZ4RSVO82,John Granger,10/11,5.0,1078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t..."
3,0826414346,Dr. Seuss: American Icon,NaN,A2MVUWT453QH61,"Roy E. Perry ""amateur philosopher""",7/7,4.0,1090713600,Phlip Nel gives silly Seuss a serious treatment,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,0826414346,Dr. Seuss: American Icon,NaN,A22X4XUPKF66MR,"D. H. Richards ""ninthwavestore""",3/3,4.0,1107993600,Good academic overview,Philip Nel - Dr. Seuss: American IconThis is b...

In [73]:
ratings = ratings[['Id', 'Title', 'Price', 'User_id', 'review/score']]

In [75]:
ratings.head()

,Id,Title,Price,User_id,review/score
1747,B000N6DDJQ,The Scarlet Letter A Romance,NaN,AUM3YMZ0YRJE0,5.000
1807,B000N6DDJQ,The Scarlet Letter A Romance,NaN,AMKZHBOK7VMQR,5.000
1820,B000N6DDJQ,The Scarlet Letter A Romance,NaN,AWLFVCT9128JV,4.000
1829,B000N6DDJQ,The Scarlet Letter A Romance,NaN,ABN5K7K1TM1QA,5.000
1830,B000N6DDJQ,The Scarlet Letter A Romance,NaN,A3IKBHODOTYYHM,4.000

In [77]:
x = ratings['User_id'].value_counts()>200
print(x)

User_id
A1D2C0WDCSHUWZ     True
A20EEWWSFMZ1PN     True
A1EKTLUL24HDG8     True
A1X8VZWTOG8IS6     True
A1K1JW1C5CUSUZ     True
                  ...
A1TCDS9S2NIVPB    False
A1DTOHMM2Y5KY0    False
AG35NEEFCMQVR     False
A2UDGZUEYHULS5    False
A3B48AN8JID1JK    False
Name: count, Length: 334, dtype: bool

In [79]:
ratings.shape

(48291, 5)

In [81]:
user_counts = ratings['User_id'].value_counts()

valid_users = user_counts[user_counts >= 200].index

ratings = ratings[ratings['User_id'].isin(valid_users)]

In [83]:
ratings.shape

(23834, 5)

In [85]:
book_counts = ratings['Id'].value_counts()

valid_books = book_counts[book_counts >=10].index

ratings = ratings[ratings['Id'].isin(valid_books)]

In [87]:
ratings.shape

(17274, 5)

In [89]:
combine_book_rating = pd.merge(ratings, books, on='Title')
columns = ['Id', 'Price', 'image', 'previewLink', 'publisher','publishedDate', 'description', 'infoLink', 'categories' , 'ratingsCount']
combine_book_rating = combine_book_rating.drop(columns, axis=1)
print(combine_book_rating.head())

                          Title         User_id  review/score authors
0  The Scarlet Letter A Romance   AWLFVCT9128JV         4.000     NaN
1  The Scarlet Letter A Romance  A3IKBHODOTYYHM         4.000     NaN
2  The Scarlet Letter A Romance  A3KF4IP2MUS8QQ         5.000     NaN
3  The Scarlet Letter A Romance  A1N1YEMTI9DJ86         5.000     NaN
4  The Scarlet Letter A Romance  A1D2C0WDCSHUWZ         5.000     NaN

In [91]:
combine_book_rating = combine_book_rating.dropna(axis = 0, subset = ['Title'])

book_ratingCount = (combine_book_rating.
     groupby(by = ['Title'])['review/score'].
     count().
     reset_index().
     rename(columns = {'review/score': 'totalRatingCount'})
     [['Title', 'totalRatingCount']]
    )
print(book_ratingCount.head())

                                               Title  totalRatingCount
0                                               1984                68
1                      20, 000 Leagues Under the Sea                16
2  A CHRISTMAS CAROL, BEING A GHOST STORY OF CHRI...                13
3                A Christmas Carol (Classic Fiction)                26
4     A Christmas Carol (Enriched Classics (Pocket))                13

In [93]:
rating_with_totalRatingCount = combine_book_rating.merge(book_ratingCount, left_on = 'Title', right_on = 'Title', how = 'left')
print(rating_with_totalRatingCount.head())

pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(book_ratingCount['totalRatingCount'].describe())

                          Title         User_id  review/score authors  \
0  The Scarlet Letter A Romance   AWLFVCT9128JV         4.000     NaN
1  The Scarlet Letter A Romance  A3IKBHODOTYYHM         4.000     NaN
2  The Scarlet Letter A Romance  A3KF4IP2MUS8QQ         5.000     NaN
3  The Scarlet Letter A Romance  A1N1YEMTI9DJ86         5.000     NaN
4  The Scarlet Letter A Romance  A1D2C0WDCSHUWZ         5.000     NaN

   totalRatingCount
0               126
1               126
2               126
3               126
4               126
count   644.000
mean     26.823
std      36.221
min      10.000
25%      12.000
50%      18.000
75%      28.000
max     472.000
Name: totalRatingCount, dtype: float64

In [95]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(book_ratingCount['totalRatingCount'].describe())

count   644.000
mean     26.823
std      36.221
min      10.000
25%      12.000
50%      18.000
75%      28.000
max     472.000
Name: totalRatingCount, dtype: float64

In [97]:
print(book_ratingCount['totalRatingCount'].quantile(np.arange(.9, 1, .01)))

0.900    46.000
0.910    47.000
0.920    47.560
0.930    50.990
0.940    56.420
0.950    64.000
0.960    70.560
0.970    79.680
0.980   108.420
0.990   185.700
Name: totalRatingCount, dtype: float64

In [99]:
popularity_threshold = 50
rating_popular_book = rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
print(rating_popular_book.head())

                          Title         User_id  review/score authors  \
0  The Scarlet Letter A Romance   AWLFVCT9128JV         4.000     NaN
1  The Scarlet Letter A Romance  A3IKBHODOTYYHM         4.000     NaN
2  The Scarlet Letter A Romance  A3KF4IP2MUS8QQ         5.000     NaN
3  The Scarlet Letter A Romance  A1N1YEMTI9DJ86         5.000     NaN
4  The Scarlet Letter A Romance  A1D2C0WDCSHUWZ         5.000     NaN

   totalRatingCount
0               126
1               126
2               126
3               126
4               126

In [101]:
from scipy.sparse import csr_matrix
rating_popular_book = rating_popular_book.drop_duplicates(['User_id', 'Title'])
rating_popular_book_pivot = rating_popular_book.pivot(index = 'Title', columns = 'User_id', values = 'review/score').fillna(0)
rating_popular_book_matrix = csr_matrix(rating_popular_book_pivot.values)

from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(rating_popular_book_matrix)
print(model_knn)

NearestNeighbors(algorithm='brute', metric='cosine')

In [103]:
query_index = np.random.choice(rating_popular_book_pivot.shape[0])
print(query_index)
print(rating_popular_book_pivot.iloc[query_index,:].values.reshape(1,-1))
distances, indices = model_knn.kneighbors(rating_popular_book_pivot.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)
rating_popular_book_pivot.index[query_index]

43
[[0. 0. 4. 0. 0. 4. 5. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 4. 0. 0. 0. 4. 0.
  0. 4. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 4. 0. 0. 5. 0. 0. 0. 0. 5. 0.
  0. 5. 0. 5. 0. 0. 0. 0. 0. 0. 0. 0. 4. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

'Twenty Thousand Leagues Under the Sea'

In [105]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(rating_popular_book_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, rating_popular_book_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Twenty Thousand Leagues Under the Sea:

1: Stranger in a Strange Land, with distance of 0.5326653633923439:
2: Frankenstein, with distance of 0.540170239206113:
3: The Hitchhiker's Guide to the Galaxy, with distance of 0.5542904388271273:
4: The Invisible Man, with distance of 0.5983020061370723:
5: The War of the Worlds, with distance of 0.6065272609787581: