In [552]:
pip install rake-nltk

Requirement already satisfied: rake-nltk in /opt/anaconda3/lib/python3.12/site-packages (1.0.6)
Requirement already satisfied: nltk<4.0.0,>=3.6.2 in /opt/anaconda3/lib/python3.12/site-packages (from rake-nltk) (3.8.1)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.12/site-packages (from nltk<4.0.0,>=3.6.2->rake-nltk) (8.1.7)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.12/site-packages (from nltk<4.0.0,>=3.6.2->rake-nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from nltk<4.0.0,>=3.6.2->rake-nltk) (2023.10.3)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from nltk<4.0.0,>=3.6.2->rake-nltk) (4.66.4)
Note: you may need to restart the kernel to use updated packages.

In [553]:
import pandas as pd
import numpy as np

from rake_nltk import Rake
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer #tokenizes a collection of words extracted from a text doc
from ast import literal_eval #This evaluates whether an expresion is a Python datatype or not

In [554]:
data = pd.read_csv('goodreads_data.csv')
print(data.shape)
data.head()

(10000, 8)

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...

In [555]:
data.isnull().sum()

Unnamed: 0      0
Book            0
Author          0
Description    77
Genres          0
Avg_Rating      0
Num_Ratings     0
URL             0
dtype: int64

In [556]:
data = data.fillna('missing value')

In [557]:
rec_author = 'Harper Lee'
data[data['Author'] == rec_author]

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1432,1432,Go Set a Watchman,Harper Lee,From Harper Lee comes a landmark new novel set...,"['Fiction', 'Historical Fiction', 'Classics', ...",3.31,"262,779",https://www.goodreads.com/book/show/24817626-g...

In [558]:
data = data.rename(columns={'Unnamed: 0': 'index'})

In [559]:
data.columns

Index(['index', 'Book', 'Author', 'Description', 'Genres', 'Avg_Rating',
       'Num_Ratings', 'URL'],
      dtype='object')

In [560]:
data1 = data[['index','Book', 'Author', 'Description', 'Genres']].head(3000)
data1.head()

,index,Book,Author,Description,Genres
0,0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ..."
1,1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',..."
2,2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical..."
3,3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp..."
4,4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',..."

In [561]:
data1.isnull().sum()

index          0
Book           0
Author         0
Description    0
Genres         0
dtype: int64

In [562]:
data1 = data1.map(lambda x: x.lower() if type(x) == str else x)
data1.head()

,index,Book,Author,Description,Genres
0,0,to kill a mockingbird,harper lee,the unforgettable novel of a childhood in a sl...,"['classics', 'fiction', 'historical fiction', ..."
1,1,harry potter and the philosopher’s stone (harr...,j.k. rowling,harry potter thinks he is an ordinary boy - un...,"['fantasy', 'fiction', 'young adult', 'magic',..."
2,2,pride and prejudice,jane austen,"since its immediate success in 1813, pride and...","['classics', 'fiction', 'romance', 'historical..."
3,3,the diary of a young girl,anne frank,discovered in the attic in which she spent the...,"['classics', 'nonfiction', 'history', 'biograp..."
4,4,animal farm,george orwell,librarian's note: there is an alternate cover ...,"['classics', 'fiction', 'dystopia', 'fantasy',..."

In [563]:
# import ast

In [564]:
# data1['Genres'] = data1['Genres'].astype(str)

# data1['Genres'] = data1['Genres'].str.replace('[', '').str.replace(']', '').str.replace("'", '')

In [565]:
# data1.head()

In [566]:
# data1['Genres'] = data1['Genres'].map(lambda x: x.split(','))
# data1['Genres']

In [567]:
data1['Author'] = data1['Author'].apply(lambda x: [name.replace(" ", "") for name in x.split(',')])

data1['Author'].head()

0       [harperlee]
1     [j.k.rowling]
2      [janeausten]
3       [annefrank]
4    [georgeorwell]
Name: Author, dtype: object

In [568]:
data1.head()

,index,Book,Author,Description,Genres
0,0,to kill a mockingbird,[harperlee],the unforgettable novel of a childhood in a sl...,"['classics', 'fiction', 'historical fiction', ..."
1,1,harry potter and the philosopher’s stone (harr...,[j.k.rowling],harry potter thinks he is an ordinary boy - un...,"['fantasy', 'fiction', 'young adult', 'magic',..."
2,2,pride and prejudice,[janeausten],"since its immediate success in 1813, pride and...","['classics', 'fiction', 'romance', 'historical..."
3,3,the diary of a young girl,[annefrank],discovered in the attic in which she spent the...,"['classics', 'nonfiction', 'history', 'biograp..."
4,4,animal farm,[georgeorwell],librarian's note: there is an alternate cover ...,"['classics', 'fiction', 'dystopia', 'fantasy',..."

In [569]:
import nltk

nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sugiyamamikuu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/sugiyamamikuu/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [570]:
data1['keywords'] = ''

# Iterate over each row in the DataFrame
for index, row in data1.iterrows():
    description = row['Description']
    
    r = Rake()
    
    r.extract_keywords_from_text(description)
    
    keyword_dict_scores = r.get_word_degrees()
    
    data1.at[index, 'keywords'] = list(keyword_dict_scores.keys())

# Check the result
data1[['Description', 'keywords']].head()

,Description,keywords
0,the unforgettable novel of a childhood in a sl...,"[unforgettable, novel, childhood, sleepy, sout..."
1,harry potter thinks he is an ordinary boy - un...,"[harry, potter, thinks, ordinary, boy, rescued..."
2,"since its immediate success in 1813, pride and...","[since, immediate, success, 1813, pride, preju..."
3,discovered in the attic in which she spent the...,"[discovered, attic, spent, last, years, life, ..."
4,librarian's note: there is an alternate cover ...,"[librarian, note, alternate, cover, edition, b..."

In [571]:
data1.set_index('Book', inplace = True)
data1.head()

,index,Author,Description,Genres,keywords
Book,,,,,
to kill a mockingbird,0,[harperlee],the unforgettable novel of a childhood in a sl...,"['classics', 'fiction', 'historical fiction', ...","[unforgettable, novel, childhood, sleepy, sout..."
"harry potter and the philosopher’s stone (harry potter, #1)",1,[j.k.rowling],harry potter thinks he is an ordinary boy - un...,"['fantasy', 'fiction', 'young adult', 'magic',...","[harry, potter, thinks, ordinary, boy, rescued..."
pride and prejudice,2,[janeausten],"since its immediate success in 1813, pride and...","['classics', 'fiction', 'romance', 'historical...","[since, immediate, success, 1813, pride, preju..."
the diary of a young girl,3,[annefrank],discovered in the attic in which she spent the...,"['classics', 'nonfiction', 'history', 'biograp...","[discovered, attic, spent, last, years, life, ..."
animal farm,4,[georgeorwell],librarian's note: there is an alternate cover ...,"['classics', 'fiction', 'dystopia', 'fantasy',...","[librarian, note, alternate, cover, edition, b..."

In [572]:
data1 = data[['Book', 'Author', 'Description', 'Genres']]

In [573]:
# Function to create a bag of words (bow) for each row
def create_bow(row):
    words = ''
    for col in row.index:  # Iterate over each column in the row
        value = row[col]
        if isinstance(value, list):
            value = ' '.join(value)  # Join list elements if it's a list
        elif not isinstance(value, str):
            value = str(value)  # Convert non-string values to string

        words += value + ' '  # Concatenate values into a single string
    return words.strip()  # Strip trailing whitespace

# Apply the function to each row to create the 'bow' column
data1['bow'] = data1.apply(create_bow, axis=1)

# Check the result
print(data1[['bow']].head())

                                                 bow
0  To Kill a Mockingbird Harper Lee The unforgett...
1  Harry Potter and the Philosopher’s Stone (Harr...
2  Pride and Prejudice Jane Austen Since its imme...
3  The Diary of a Young Girl Anne Frank Discovere...
4  Animal Farm George Orwell Librarian's note: Th...

/var/folders/4q/vpk3z6s16t1622d9qwvj5l640000gn/T/ipykernel_53295/2007422999.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['bow'] = data1.apply(create_bow, axis=1)

In [574]:
data1.head()

,Book,Author,Description,Genres,bow
0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",To Kill a Mockingbird Harper Lee The unforgett...
1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",Harry Potter and the Philosopher’s Stone (Harr...
2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",Pride and Prejudice Jane Austen Since its imme...
3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",The Diary of a Young Girl Anne Frank Discovere...
4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",Animal Farm George Orwell Librarian's note: Th...

In [588]:
data1.set_index('Book', inplace = True)
data1.head()

,Author,Description,Genres,bow
Book,,,,
To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",To Kill a Mockingbird Harper Lee The unforgett...
"Harry Potter and the Philosopher’s Stone (Harry Potter, #1)",J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",Harry Potter and the Philosopher’s Stone (Harr...
Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",Pride and Prejudice Jane Austen Since its imme...
The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",The Diary of a Young Girl Anne Frank Discovere...
Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",Animal Farm George Orwell Librarian's note: Th...

In [590]:
#instantiating and generating the count matrix
count = CountVectorizer()
count_matrix = count.fit_transform(data1['bow'])

#create a Series for movie titles so they are associated to an ordered numerical list, we will use this later to match index
indices = pd.Series(data1.index)
print(indices)

0                                   To Kill a Mockingbird
1       Harry Potter and the Philosopher’s Stone (Harr...
2                                     Pride and Prejudice
3                               The Diary of a Young Girl
4                                             Animal Farm
                              ...
9995                      Breeders (Breeders Trilogy, #1)
9996                                               Dynamo
9997                                The Republic of Trees
9998                       Waking Up (Healing Hearts, #1)
9999                   Bits and Pieces: Tales and Sonnets
Name: Book, Length: 10000, dtype: object

In [592]:
count_matrix

<10000x73093 sparse matrix of type '<class 'numpy.int64'>'
	with 1119127 stored elements in Compressed Sparse Row format>

In [594]:
type(count_matrix)

scipy.sparse._csr.csr_matrix

In [596]:
c = count_matrix.todense()
c

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])

In [597]:
#Print count_matrix for 0th row
print(count_matrix[0,:]) #This shows all words and their frequency in bow of 0th row

  (0, 59017)	7
  (0, 32191)	3
  (0, 38236)	3
  (0, 26297)	2
  (0, 33620)	2
  (0, 58348)	4
  (0, 61093)	1
  (0, 40804)	1
  (0, 41342)	4
  (0, 10775)	1
  (0, 28905)	4
  (0, 53891)	1
  (0, 54680)	1
  (0, 59393)	1
  (0, 3227)	9
  (0, 13829)	1
  (0, 12640)	1
  (0, 58338)	1
  (0, 50052)	1
  (0, 30520)	4
  (0, 6287)	1
  (0, 7990)	1
  (0, 3140)	2
  (0, 29741)	1
  (0, 6839)	1
  :	:
  (0, 9049)	1
  (0, 65184)	2
  (0, 2390)	1
  (0, 64486)	1
  (0, 11222)	1
  (0, 61227)	1
  (0, 3797)	1
  (0, 2872)	1
  (0, 12694)	1
  (0, 26909)	1
  (0, 7841)	1
  (0, 6199)	1
  (0, 53472)	1
  (0, 59048)	1
  (0, 30394)	1
  (0, 48436)	1
  (0, 4399)	1
  (0, 36414)	1
  (0, 3008)	1
  (0, 34423)	2
  (0, 11285)	1
  (0, 21828)	2
  (0, 27316)	2
  (0, 51592)	1
  (0, 1905)	1

In [600]:
#Gives vocabulary of all words in 'bow' and their counts
count.vocabulary_

{'to': 59017,
 'kill': 32191,
 'mockingbird': 38236,
 'harper': 26297,
 'lee': 33620,
 'the': 58348,
 'unforgettable': 61093,
 'novel': 40804,
 'of': 41342,
 'childhood': 10775,
 'in': 28905,
 'sleepy': 53891,
 'southern': 54680,
 'town': 59393,
 'and': 3227,
 'crisis': 13829,
 'conscience': 12640,
 'that': 58338,
 'rocked': 50052,
 'it': 30520,
 'became': 6287,
 'both': 7990,
 'an': 3140,
 'instant': 29741,
 'bestseller': 6839,
 'critical': 13852,
 'success': 56342,
 'when': 63907,
 'was': 63462,
 'first': 22129,
 'published': 46691,
 '1960': 493,
 'went': 63791,
 'on': 41613,
 'win': 64215,
 'pulitzer': 46742,
 'prize': 46018,
 '1961': 495,
 'later': 33359,
 'made': 35403,
 'into': 30074,
 'academy': 1412,
 'award': 5272,
 'winning': 64282,
 'film': 21954,
 'also': 2815,
 'classic': 11281,
 'compassionate': 12131,
 'dramatic': 17526,
 'deeply': 15151,
 'moving': 38904,
 'takes': 57433,
 'readers': 47856,
 'roots': 50248,
 'human': 27965,
 'behavior': 6432,
 'innocence': 29585,
 'experience': 20774,
 'kindness': 32254,
 'cruelty': 13987,
 'love': 34856,
 'hatred': 26413,
 'humor': 28024,
 'pathos': 43224,
 'now': 40846,
 'with': 64383,
 'over': 42294,
 '18': 311,
 'million': 37777,
 'copies': 13120,
 'print': 45953,
 'translated': 59661,
 'forty': 22837,
 'languages': 33226,
 'this': 58538,
 'regional': 48465,
 'story': 55868,
 'by': 9049,
 'young': 65184,
 'alabama': 2390,
 'woman': 64486,
 'claims': 11222,
 'universal': 61227,
 'appeal': 3797,
 'always': 2872,
 'considered': 12694,
 'her': 26909,
 'book': 7841,
 'be': 6199,
 'simple': 53472,
 'today': 59048,
 'is': 30394,
 'regarded': 48436,
 'as': 4399,
 'masterpiece': 36414,
 'american': 3008,
 'literature': 34423,
 'classics': 11285,
 'fiction': 21828,
 'historical': 27316,
 'school': 51592,
 'adult': 1905,
 'harry': 26321,
 'potter': 45362,
 'philosopher': 44141,
 'stone': 55804,
 'rowling': 50382,
 'thinks': 58518,
 'he': 26541,
 'ordinary': 41883,
 'boy': 8089,
 'until': 61553,
 'rescued': 49093,
 'owl': 42452,
 'taken': 57426,
 'hogwarts': 27450,
 'witchcraft': 64371,
 'wizardry': 64435,
 'learns': 33556,
 'play': 44651,
 'quidditch': 47198,
 'does': 17098,
 'battle': 6112,
 'deadly': 14899,
 'duel': 17817,
 'reason': 47954,
 'wizard': 64431,
 'fantasy': 21332,
 'magic': 35479,
 'childrens': 10788,
 'middle': 37602,
 'grade': 25040,
 'pride': 45877,
 'prejudice': 45655,
 'jane': 30735,
 'austen': 5028,
 'since': 53507,
 'its': 30543,
 'immediate': 28654,
 '1813': 322,
 'has': 26362,
 'remained': 48738,
 'one': 41630,
 'most': 38781,
 'popular': 45127,
 'novels': 40822,
 'english': 19426,
 'language': 33224,
 'called': 9294,
 'brilliant': 8443,
 'work': 64594,
 'own': 42454,
 'darling': 14724,
 'child': 10771,
 'vivacious': 62888,
 'heroine': 27021,
 'elizabeth': 18829,
 'bennet': 6655,
 'delightful': 15351,
 'creature': 13709,
 'ever': 20412,
 'appeared': 3804,
 'romantic': 50174,
 'clash': 11274,
 'between': 6906,
 'opinionated': 41750,
 'proud': 46452,
 'beau': 6263,
 'mr': 38931,
 'darcy': 14683,
 'splendid': 55032,
 'performance': 43723,
 'civilized': 11195,
 'sparring': 54783,
 'radiant': 47365,
 'wit': 64368,
 'sparkles': 54777,
 'characters': 10484,
 'dance': 14599,
 'delicate': 15344,
 'quadrille': 47025,
 'flirtation': 22367,
 'intrigue': 30104,
 'making': 35658,
 'superb': 56614,
 'comedy': 11953,
 'manners': 35940,
 'regency': 48443,
 'england': 19419,
 'alternate': 2833,
 'cover': 13513,
 'edition': 18425,
 'isbn': 30409,
 '9780679783268': 1089,
 'romance': 50157,
 'audiobook': 4928,
 'diary': 16187,
 'girl': 24458,
 'anne': 3449,
 'frank': 22986,
 'discovered': 16603,
 'attic': 4859,
 'which': 63922,
 'she': 52841,
 'spent': 54905,
 'last': 33342,
 'years': 65059,
 'life': 34110,
 'remarkable': 48747,
 'become': 6307,
 'world': 64635,
 'powerful': 45412,
 'reminder': 48773,
 'horrors': 27729,
 'war': 63375,
 'eloquent': 18891,
 'testament': 58239,
 'spirit': 54990,
 '1942': 469,
 'nazis': 39813,
 'occupying': 41238,
 'holland': 27484,
 'thirteen': 58532,
 'year': 65045,
 'old': 41497,
 'jewish': 31022,
 'family': 21271,
 'fled': 22306,
 'their': 58380,
 'home': 27524,
 'amsterdam': 3115,
 'hiding': 27131,
 'for': 22622,
 'next': 40201,
 'two': 60450,
 'whereabouts': 63910,
 'were': 63797,
 'betrayed': 6873,
 'gestapo': 24265,
 'franks': 23002,
 'another': 3508,
 'lived': 34462,
 'cloistered': 11472,
 'secret': 51975,
 'annexe': 3457,
 'office': 41372,
 'building': 8770,
 'cut': 14311,
 'off': 41351,
 'from': 23234,
 'outside': 42254,
 'they': 58475,
 'faced': 21067,
 'hunger': 28057,
 'boredom': 7930,
 'constant': 12737,
 'cruelties': 13986,
 'living': 34483,
 'confined': 12474,
 'quarters': 47096,
 'present': 45742,
 'threat': 58601,
 'discovery': 16608,
 'death': 14929,
 'recorded': 48149,
 'vivid': 62901,
 'impressions': 28858,
 'experiences': 20776,
 'during': 17950,
 'period': 43746,
 'turns': 60344,
 'thoughtful': 58581,
 'surprisingly': 56803,
 'humorous': 28029,
 'account': 1500,
 'offers': 41370,
 'fascinating': 21421,
 'commentary': 12019,
 'courage': 13469,
 'frailty': 22952,
 'compelling': 12138,
 'self': 52171,
 'portrait': 45199,
 'sensitive': 52285,
 'spirited': 54991,
 'whose': 64038,
 'promise': 46265,
 'tragically': 59508,
 'short': 53088,
 'back': 5492,
 'nonfiction': 40596,
 'history': 27321,
 'biography': 7163,
 'memoir': 37129,
 'holocaust': 27505,
 'animal': 3395,
 'farm': 21383,
 'george': 24161,
 'orwell': 42038,
 'librarian': 34033,
 'note': 40735,
 'there': 58447,
 'here': 26940,
 'overworked': 42437,
 'mistreated': 38115,
 'animals': 3400,
 'flaming': 22238,
 'idealism': 28348,
 'stirring': 55751,
 'slogans': 53962,
 'set': 52490,
 'out': 42157,
 'create': 13689,
 'paradise': 42864,
 'progress': 46218,
 'justice': 31460,
 'equality': 19801,
 'thus': 58697,
 'stage': 55280,
 'telling': 57951,
 'satiric': 51272,
 'fables': 21045,
 'penned': 43591,
 'razor': 47819,
 'edged': 18394,
 'fairy': 21169,
 'tale': 57453,
 'grown': 25460,
 'ups': 61681,
 'records': 48153,
 'evolution': 20476,
 'revolution': 49532,
 'against': 2119,
 'tyranny': 60499,
 'totalitarianism': 59310,
 'just': 31456,
 'terrible': 58171,
 'stalinist': 55319,
 'russia': 50591,
 'seen': 52065,
 'target': 57638,
 'devastatingly': 16009,
 'clear': 11342,
 'wherever': 63916,
 'whenever': 63908,
 'freedom': 23077,
 'attacked': 4823,
 'under': 60882,
 'whatever': 63885,
 'banner': 5806,
 'cutting': 14327,
 'clarity': 11265,
 'savage': 51337,
 'have': 26453,
 'meaning': 36849,
 'message': 37396,
 'still': 55702,
 'ferociously': 21725,
 'fresh': 23142,
 'dystopia': 18056,
 'politics': 44988,
 'little': 34447,
 'prince': 45926,
 'antoine': 3637,
 'de': 14882,
 'saint': 50903,
 'exupéry': 20989,
 'pilot': 44379,
 'stranded': 55917,
 'desert': 15778,
 'awakes': 5270,
 'morning': 38675,
 'see': 52039,
 'standing': 55366,
 'before': 6377,
 'him': 27227,
 'extraordinary': 20944,
 'fellow': 21652,
 'please': 44696,
 'asks': 4502,
 'stranger': 55924,
 'draw': 17562,
 'me': 36828,
 'sheep': 52860,
 'realizes': 47914,
 'events': 20407,
 'are': 4078,
 'too': 59177,
 'difficult': 16309,
 'understand': 60950,
 'no': 40494,
 'choice': 10878,
 'but': 9005,
 'succumb': 56360,
 'mysteries': 39319,
 'pulls': 46752,
 'pencil': 43540,
 'paper': 42829,
 'begins': 6410,
 'wise': 64342,
 'enchanting': 19232,
 'fable': 21041,
 'teaching': 57786,
 'what': 63883,
 'really': 47916,
 'important': 28814,
 'changed': 10430,
 'forever': 22700,
 'few': 21798,
 'stories': 55847,
 'widely': 64060,
 'read': 47850,
 'universally': 61231,
 'cherished': 10684,
 'children': 10782,
 'adults': 1915,
 'alike': 2641,
 'presented': 45748,
 'stunning': 56159,
 'new': 40150,
 'translation': 59664,
 'carefully': 9669,
 'restored': 49256,
 'artwork': 4381,
 'definitive': 15220,
 'worldwide': 64655,
 'will': 64161,
 'capture': 9605,
 'hearts': 26632,
 'all': 2664,
 'ages': 2143,
 'france': 22968,
 'philosophy': 44152,
 '1984': 523,
 'major': 35628,
 'towards': 59382,
 'his': 27302,
 'previous': 45847,
 'writing': 64788,
 'pointed': 44900,
 'critics': 13861,
 'hailed': 25886,
 'solid': 54399,
 'though': 58579,
 'nineteen': 40427,
 'eighty': 18605,
 'four': 22893,
 'place': 44551,
 'thirty': 58537,
 'five': 22185,
 'hence': 26867,
 'every': 20434,
 'sense': 52272,
 'timely': 58866,
 'scene': 51492,
 'london': 34673,
 'where': 63909,
 'been': 6354,
 'housing': 27846,
 '1950': 480,
 'city': 11165,
 'wide': 64059,
 'slums': 53996,
 'victory': 62579,
 'mansions': 35968,
 'science': 51662,
 'abandoned': 1179,
 'man': 35806,
 'state': 55470,
 'citizen': 11156,
 'knows': 32495,
 'only': 41654,
 'well': 63753,
 'peace': 43370,
 'winston': 64295,
 'smith': 54054,
 'who': 64014,
 'works': 64626,
 'ministry': 37886,
 'truth': 60153,
 'minitru': 37888,
 'come': 11943,
 'people': 43640,
 'transform': 59626,
 'completely': 12190,
 'julia': 31376,
 'whom': 64028,
 'meets': 36980,
 'after': 2099,
 'hands': 26088,
 'slip': 53937,
 'reading': 47863,
 'you': 65177,
 'other': 42094,
 'brien': 8410,
 'tells': 57955,
 'we': 63595,
 'shall': 52694,
 'meet': 36975,
 'darkness': 14716,
 'way': 63577,
 'desires': 15821,
 'instincts': 29757,
 'ultimately': 60661,
 'betrays': 6877,
 'makes': 35650,
 'mounting': 38862,
 'drama': 17523,
 'suspense': 56884,
 'can': 9415,
 'found': 22875,
 'great': 25229,
 'gatsby': 23856,
 'scott': 51722,
 'fitzgerald': 22178,
 '0743273567': 38,
 'isbn13': 30411,
 '9780743273565': 1093,
 'third': 58525,
 'stands': 55372,
 'supreme': 56745,
 'achievement': 1565,
 'career': 9661,
 'exemplary': 20631,
 'jazz': 30854,
 'age': 2131,
 'acclaimed': 1465,
 'generations': 24054,
 'fabulously': 21061,
 'wealthy': 63613,
 'jay': 30842,
 'beautiful': 6275,
 'daisy': 14511,
 'buchanan': 8694,
 'lavish': 33442,
 'parties': 43069,
 'long': 34686,
 'island': 30448,
 'at': 4711,
 'time': 58853,
 'york': 65166,
 'times': 58871,
 'noted': 40738,
 'gin': 24426,
 'national': 39719,
 'drink': 17658,
 'sex': 52563,
 'obsession': 41177,
 'exquisitely': 20892,
 'crafted': 13595,
 'america': 3006,
 '1920s': 443,
 'twentieth': 60414,
 'century': 10266,
 'catcher': 9986,
 'rye': 50638,
 'salinger': 50968,
 'christmas': 10953,
 'holden': 27461,
 'caulfield': 10062,
 'expelled': 20766,
 'yet': 65103,
 'fleeing': 22313,
 'crooks': 13908,
 'pencey': 43537,
 'prep': 45705,
 'pinballs': 44391,
 'around': 4245,
 'seeking': 52052,
 'solace': 54360,
 'fleeting': 22316,
 'encounters': 19267,
 'shooting': 53069,
 'bull': 8798,
 'strangers': 55925,
 'dive': 16927,
 'hotels': 27787,
 'wandering': 63345,
 'alone': 2782,
 'round': 50344,
 'central': 10254,
 'park': 42974,
 'getting': 24285,
 'beaten': 6250,
 'up': 61621,
 'pimps': 44386,
 'down': 17417,
 'erstwhile': 19961,
 'girlfriends': 24461,
 'neon': 40011,
 'loneliness': 34679,
 'seedy': 52046,
 'glamour': 24527,
 'mingled': 37857,
 'possibility': 45265,
 'emptiness': 19184,
 'passes': 43142,
 'through': 58646,
 'like': 34191,
 'ghost': 24334,
 'thinking': 58515,
 'kid': 32147,
 'sister': 53608,
 'phoebe': 44165,
 'person': 43866,
 'understands': 60955,
 'determination': 15950,
 'escape': 20001,
 'phonies': 44175,
 'find': 22010,
 'true': 60112,
 'coming': 11984,
 'elegy': 18738,
 'teenage': 57864,
 'alienation': 2623,
 'capturing': 9608,
 'need': 39882,
 'connection': 12588,
 'bewildering': 6920,
 'loss': 34791,
 'leave': 33569,
 'behind': 6447,
 '1919': 439,
 '2010': 571,
 'angst': 3375,
 'rebellion': 47991,
 '1951': 483,
 'included': 29013,
 '2005': 563,
 'list': 34386,
 '100': 50,
 'best': 6824,
 'written': 64791,
 '1923': 447,
 'named': 39550,
 'modern': 38255,
 'library': 34036,
 '20th': 642,
 'frequently': 23136,
 'challenged': 10373,
 'court': 13482,
 'liberal': 34001,
 'use': 61770,
 'profanity': 46142,
 'portrayal': 45203,
 'sexuality': 52584,
 '60': 907,
 'wants': 63370,
 'lord': 34755,
 'rings': 49813,
 'tolkien': 59105,
 'ring': 49803,
 'rule': 50507,
 'them': 58392,
 'bring': 8452,
 'bind': 7117,
 'themin': 58400,
 'ancient': 3222,
 'power': 45409,
 'elven': 18928,
 'smiths': 54058,
 'sauron': 51330,
 'dark': 14701,
 'forged': 22716,
 'filling': 21949,
 'so': 54228,
 'could': 13398,
 'others': 42099,
 'sought': 54636,
 'throughout': 58647,
 'earth': 18215,
 'lost': 34794,
 'many': 36011,
 'fell': 21647,
 'chance': 10403,
 'hobbit': 27390,
 'bilbo': 7072,
 'baggins': 5581,
 'fastness': 21448,
 'tower': 59386,
 'mordor': 38628,
 'spread': 55122,
 'far': 21348,
 'gathered': 23846,
 'searched': 51905,
 'would': 64702,
 'complete': 12188,
 'dominion': 17203,
 'reached': 47832,
 'eleventy': 18773,
 'birthday': 7212,
 'disappeared': 16515,
 'bequeathing': 6687,
 'cousin': 13502,
 'frodo': 23225,
 'ruling': 50514,
 'perilous': 43741,
 'quest': 47158,
 'journey': 31262,
 'across': 1636,
 'deep': 15142,
 'shadow': 52631,
 'destroy': 15901,
 'casting': 9935,
 'cracks': 13587,
 'doom': 17274,
 'undertaken': 60960,
 'fellowship': 21654,
 'gandalf': 23699,
 'hobbits': 27392,
 'merry': 37350,
 'pippin': 44461,
 'sam': 51020,
 'gimli': 24423,
 'dwarf': 18003,
 'legolas': 33677,
 'elf': 18774,
 'boromir': 7950,
 'gondor': 24851,
 'tall': 57478,
 'mysterious': 39321,
 'strider': 56026,
 'adventure': 1931,
 'epic': 19741,
 'high': 27144,
 'thief': 58489,
 'markus': 36207,
 'zusak': 65611,
 'hereit': 26954,
 '1939': 464,
 'nazi': 39809,
 'germany': 24210,
 'country': 13448,
 'holding': 27463,
 'breath': 8297,
 'never': 40130,
 'busier': 8977,
 'brother': 8578,
 'graveside': 25197,
 'liesel': 34104,
 'picks': 44267,
 'single': 53537,
 'object': 41102,
 'partially': 43047,
 'hidden': 27121,
 'snow': 54193,
 'gravedigger': 25189,
 'handbook': 26051,
 'left': 33633,
 'accident': 1453,
 'act': 1638,
 'thievery': 58494,
 'affair': 2020,
 'books': 7869,
 'words': 64585,
 'help': 26820,
 'accordian': 1494,
 'playing': 44667,
 'foster': 22856,
 'father': 21469,
 'soon': 54539,
 'stealing': 55532,
 'burnings': 8940,
 'mayor': 36631,
 'wife': 64103,
 'these': 58462,
 'dangerous': 14626,
 'hides': 27130,
 'jew': 31014,
 'basement': 6016,
 'opened': 41710,
 'closed': 11481,
 'superbly': 56615,
 'burns': 8943,
 'intensity': 29864,
 'author': 5055,
 'given': 24490,
 'us': 61763,
 'enduring': 19346,
 'our': 42143,
 'title': 58992,
 'not': 40724,
 'ya': 64951,
 'ii': 28476,
 'eyre': 21014,
 'charlotte': 10523,
 'brontë': 8551,
 'orphaned': 42005,
 'felt': 21662,
 'outcast': 42165,
 'whole': 64019,
 'tested': 58241,
 'once': 41619,
 'again': 2118,
 'arrives': 4289,
 'thornfield': 58560,
 'hall': 25948,
 'hired': 27291,
 'brooding': 8558,
 'edward': 18469,
 'rochester': 50047,
 'care': 9656,
 'ward': 63380,
 'adèle': 1977,
 'finds': 22020,
 'herself': 27037,
 'drawn': 17571,
 'troubled': 60071,
 'kind': 32238,
 'falls': 21229,
 'hard': 26196,
 'terrifying': 58184,
 'inside': 29672,
 'gloomy': 24639,
 'forbidding': 22634,
 'heartbroken': 26614,
 'exiled': 20683,
 'gothic': 24957,
 'chronicles': 10974,
 'narnia': 39638,
 'lewis': 33946,
 'journeys': 31267,
 'end': 19290,
 'fantastic': 21323,
 'creatures': 13710,
 'battles': 6121,
 'good': 24863,
 'evil': 20455,
 'more': 38630,
 'any': 3673,
 'reader': 47854,
 'ask': 4497,
 'lion': 34344,
 'witch': 64369,
 'wardrobe': 63387,
 '1949': 477,
 'clive': 11458,
 'staples': 55394,
 'did': 16241,
 'stop': 55823,
 'six': 53648,
 'followed': 22558,
 'together': 59069,
 'known': 32493,
 'past': 43162,
 'fifty': 21892,
 'transcended': 59594,
 'genre': 24105,
 'part': 43032,
 'canon': 9496,
 'each': 18175,
 'seven': 52533,
 'drawing': 17568,
 'land': 33165,
 'reality': 47903,
 'result': 49280,
 'fictional': 21830,
 'scope': 51694,
 'fascinated': 21419,
 'presents': 45752,
 'unabridged': 60710,
 'impressive': 28859,
 'volume': 63004,
 'chronlogical': 10978,
 'order': 41874,
 'chapter': 10470,
 'graced': 25021,
 'illustration': 28556,
 'original': 41963,
 'artist': 4360,
 'pauline': 43301,
 'baynes': 6160,
 'deceptively': 15027,
 'direct': 16465,
 'continue': 12897,
 'captivate': 9595,
 'fans': 21307,
 'adventures': 1937,
 'truths': 60156,
 'speak': 54805,
 'even': 20392,
 'christian': 10940,
 'flies': 22344,
 'william': 64177,
 'golding': 24812,
 'dawn': 14832,
 'plane': 44584,
 'crashes': 13641,
 'uncharted': 60816,
 'stranding': 55919,
 'group': 25440,
 'schoolboys': 51595,
 'supervision': 56693,
 'something': 54470,
 'celebrate': 10175,
 'civilization': 11189,
 'boys': 8104,
 'do': 17028,
 'anything': 3682,
 'want': 63364,
 'attempt': 4837,
 'forge': 22715,
 'society': 54291,
 'failing': 21138,
 'however': 27862,
 'face': 21065,
 'terror': 58193,
 'sin': 53501,
 'collapses': 11782,
 'strange': 55921,
 'howls': 27868,
 'echo': 18310,
 'night': 40340,
 'reign': 48525,
 'hope': 27658,
 'seems': 52063,
 'being': 6464,
 'labeled': 32976,
 'parable': 42848,
 'allegory': 2694,
 'myth': 39343,
 'morality': 38605,
 'parody': 43006,
 'political': 44981,
 'treatise': 59819,
 'vision': 62823,
 'apocalypse': 3743,
 'perhaps': 43736,
 'memorable': 37136,
 'about': 1312,
 'heart': 26604,
 'romeo': 50191,
 'juliet': 31383,
 'shakespeare': 52680,
 'creates': 13691,
 'violent': 62748,
 'fall': 21214,
 'simply': 53483,
 'families': 21269,
 'disapprove': 16524,
 'montagues': 38493,
 'capulets': 9609,
 'engaged': 19396,
 'blood': 7501,
 'feud': 21787,
 'filled': 21947,
 'setting': 52509,
 'movement': 38894,
 'sight': 53332,
 'lovers': 34883,
 'final': 21984,
 'union': 61207,
 'almost': 2777,
 'inevitable': 29281,
 'quintessential': 47236,
 'because': 6288,
 'exquisite': 20891,
 'easy': 18257,
 'respond': 49217,
 'if': 28421,
 'plays': 44671,
 'deathly': 14933,
 'hallows': 25968,
 'burdened': 8888,
 'seemingly': 52062,
 'impossible': 28829,
 'task': 57692,
 'locating': 34569,
 'destroying': 15904,
 'voldemort': 62979,
 'remaining': 48739,
 'horcruxes': 27685,
 'or': 41819,
 'future': 23473,
 'full': 23359,
 'shadows': 52643,
 'must': 39218,
 'somehow': 54460,
 'within': 64400,
 'himself': 27234,
 'strength': 55998,
 'warmth': 63419,
 'safety': 50848,
 'companionship': 12112,
 'burrow': 8952,
 'follow': 22557,
 'without': 64403,
 'fear': 21547,
 'hesitation': 27062,
 'inexorable': 29284,
 'path': 43209,
 'laid': 33079,
 'seventh': 52538,
 'installment': 29733,
 'series': 52416,
 'unveils': 61586,
 'spectacular': 54852,
 'fashion': 21430,
 'answers': 3531,
 'questions': 47174,
 ...}

In [602]:
#generating the cosine similarity matrix

cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim

array([[1.        , 0.38910961, 0.46922119, ..., 0.52440974, 0.34667467,
        0.48561805],
       [0.38910961, 1.        , 0.27792883, ..., 0.33886881, 0.25890569,
        0.33363012],
       [0.46922119, 0.27792883, 1.        , ..., 0.58829084, 0.28785557,
        0.48144585],
       ...,
       [0.52440974, 0.33886881, 0.58829084, ..., 1.        , 0.39711264,
        0.60098637],
       [0.34667467, 0.25890569, 0.28785557, ..., 0.39711264, 1.        ,
        0.361119  ],
       [0.48561805, 0.33363012, 0.48144585, ..., 0.60098637, 0.361119  ,
        1.        ]])

In [620]:
data1.reset_index(inplace=True)

data1.head()

,Book,Author,Description,Genres,bow
0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",To Kill a Mockingbird Harper Lee The unforgett...
1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",Harry Potter and the Philosopher’s Stone (Harr...
2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",Pride and Prejudice Jane Austen Since its imme...
3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",The Diary of a Young Girl Anne Frank Discovere...
4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",Animal Farm George Orwell Librarian's note: Th...

In [631]:
# Create a Series that maps movie titles to their index
indices = pd.Series(data1.index, index=data1['Book']).drop_duplicates()

# Now, you can safely find the index of a title
def recommendations(title, n, cosine_sim):
    recommended_movies = []

    # Check if the title exists in the indices
    if title in indices:
        # Get the index of the movie that matches the title
        idx = indices[title]

        # Find the highest cosine similarity for this title with other titles
        score_series = pd.Series(cosine_sim[idx]).sort_values(ascending=False)

        # Get the indices of the top N most similar movies
        top_n_indices = score_series.iloc[1:n+1].index

        # Retrieve the movie titles from these indices
        recommended_movies = data1.iloc[top_n_indices]['Book'].values

        return recommended_movies
    else:
        # If the title is not found, return a message
        return f"Movie titled '{title}' not found."

In [634]:
book = '1984'
n = 10

In [636]:
book

'1984'

In [668]:
recommendations(book, n, cosine_sim)

array(['God Speaks', 'The Mahābhārata', 'The Road',
       'A Day No Pigs Would Die', 'The Moon Is Down',
       'Dreaming the Eagle (Boudica, #1)', 'The Orchardist',
       'The Stone Angel', 'Death on the Installment Plan',
       'The Sympathizer'], dtype=object)

In [658]:
indices

Book
To Kill a Mockingbird                                             0
Harry Potter and the Philosopher’s Stone (Harry Potter, #1)       1
Pride and Prejudice                                               2
The Diary of a Young Girl                                         3
Animal Farm                                                       4
                                                               ...
Breeders (Breeders Trilogy, #1)                                9995
Dynamo                                                         9996
The Republic of Trees                                          9997
Waking Up (Healing Hearts, #1)                                 9998
Bits and Pieces: Tales and Sonnets                             9999
Length: 10000, dtype: int64

In [678]:
idx = indices[book]
print(idx)

6

In [682]:
pd.Series(cosine_sim[indices[indices == movie].index[0]])

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (2126758260.py, line 1)

In [ ]:
#https://www.kaggle.com/code/sasha18/recommender-systems-based-on-content#Count-Vectorizer